@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blueOne:#118df0;
    --blueTwo:#41a4f3;
    --blueThree:#0c71c2;
    --blueFour:#71bbf6;
    --whiteOne:#ffff;
    --whiteTwo:#e6e6e6;
  }